<section class="content-header">
  <h1>
    Quản lý định mức
    <!-- <small>Version 2.0</small> -->
  </h1>
  <ol class="breadcrumb">
    <li class="active"><i class="fa fa-dashboard"></i> Định mức</li>
  </ol>
</section>
<section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Danh sách định mức</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="form-group">
                <label>Số lượng định mức</label>
                <select id="number-of-quota" ng-value="limit">
                  <option value="10" selected>10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
              <table class="table table-bordered">
              	<thead>
	                <tr>
	                  <th>#</th>
	                  <th>Tên</th>
	                  <th>Điạ chỉ</th>
                    <th></th>
	                </tr>
              	</thead>
              	<tbody>
              		<tr ng-repeat="supplier in suppliers">
	                  <td ng-bind="$index+1+index"></td>
	                  <td ng-bind="supplier.name"></td>
	                  <td ng-bind="supplier.address"></td>
                    <td width="92px">
                      <a class="btn btn-danger pull-right" ng-click="deleteSupplier($index)"><i class="fa fa-trash"></i></a>
                      <a class="btn btn-default pull-right" href="#!/supplier/{{supplier.id}}"><i class="fa fa-pencil"></i></a>
                    </td>
	                </tr>
              	</tbody>
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
<!--                 <li><a href="#">&laquo;</a></li> -->
                <li><a ui-sref="{page}" ng-repeat="page in pages"><span ng-bind="page"></span></a></li>
<!--                 <li><a href="#">&raquo;</a></li> -->
              </ul>
            </div>
          </div>
          <!-- /.box -->
        </div>
    </div>

</section>