<section class="content-header">
  <h1>
    Quản lý vật tư
    <!-- <small>Version 2.0</small> -->
  </h1>
  <ol class="breadcrumb">
    <li><a href="#!/supplier"><i class="fa fa-dashboard"></i> Nhà cung cấp</a></li>
    <li class="active">Vật tư</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="box box-info">
        <form role="form">
          <div class="box-body">
            <div class="form-group">
              <label>Tên nhà cung cấp</label>
              <input type="text" class="form-control" ng-model="supplier.name" placeholder="Nhập tên nhà cung cấp">
            </div>
            <div class="form-group">
              <label>Địa chỉ nhà cung cấp</label>
              <input type="text" class="form-control" ng-model="supplier.address" placeholder="Nhập địa chỉ nhà cung cấp">
            </div>
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary pull-right" ng-click="editSupplier()">Sửa</button>
          </div>
        </form>
      </div>
      <div class="box box-info">
        <ul class="insert-options nav nav-pills" style="padding-bottom:5px">
          <li class="active info"><a data-toggle="pill" href="#normal">Thêm</a></li>
          <li class="info"><a data-toggle="pill" href="#i-excel" >Nhập Excel</a></li>
          <li class="info"><a data-toggle="pill" href="#e-excel" >Xuất Excel</a></li>
        </ul>
        <form role="form">
          <div class="box-body">
            <div class="tab-content">
              <div id="normal" class="tab-pane fade in active">
                <div class="form-group">
                  <label>Tên vật tự</label>
                  <input type="text" class="form-control" ng-model="resourceName" ng-model-options="{ debounce: 1000 }" placeholder="Nhập tên vật tư">
                  <div class="search-result">
                    <ul class="list-group" ng-if="searchResources && searchResources.length > 0">
                      <li class="list-group-item" ng-repeat="searchResource in searchResources track by $index"><a ng-click="chooseResource($index)" ng-bind="searchResource.name"></a></li>
                      <li class="list-group-item" ng-if="resourceName && !isMatched && endSearch"><a ng-click="addNewResource()">Thêm mới vật tư "<i ng-bind="resourceName"></i>"</a></li>
                      <li class="list-group-item loading" ng-if="isLoading"><img src="./images/loading.gif" height="30" width="30"/></li>
                    </ul>
                  </div>
                </div>
                <div class="form-group" ng-if="isNew">
                  <label>Mã vật tư</label>
                  <input type="text" class="form-control" ng-model="$parent.resourceCode" placeholder="Nhập mã vật tư">
                </div>
                <div class="form-group">
                  <label>Giá vật tư</label>
                  <input type="text" class="form-control" ng-model="resourcePrice" placeholder="Nhập giá vật tư">
                </div>
                <div class="form-group" ng-if="isNew">
                  <label>Đơn vị</label>
                  <input type="text" class="form-control" ng-model="$parent.resourceUnit"  placeholder="Nhập đơn vị">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary pull-right" ng-click="addResource()">Thêm</button>
                </div>
              </div>
              <div id="i-excel" class="tab-pane fade">
                <div class="form-group">
                  <label>Tải tập tin excel</label>
                  <input type="file" id="import-excel" class="form-control" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                  <button class="btn btn-primary" style="margin-top:5px" ng-click="import('#import-excel')">Nhập từ excel</button>
                </div> 
              </div>
              <div id="e-excel" class="tab-pane fade">
                <div class="form-group">
                  <label>Loại tập tin</label>
                  <select id="file-type" class="form-control">
                    <option value="csv">*.csv</option>
                    <option value="xls">*.xls</option>
                    <option value="xlsx">*.xlsx</option>
                  </select>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" ng-click="export()">Xuất ra excel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-8">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Danh sách vật tư</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="form-group">
            <label>Số lượng vật tư</label>
            <select id="number-of-resource" ng-value="limit">
              <option value="10" selected>10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="200">200</option>
            </select>
          </div>
          <table class="table table-bordered">
           <thead>
             <tr>
               <th>#</th>
               <th>Mã</th>
               <th>Tên</th>
               <th>Giá</th>
               <th>Đơn vị</th>
               <th></th>
             </tr>
           </thead>
           <tbody ng-if="resources.length > 0">
            <tr ng-repeat="resource in resources track by $index">
              <td ng-bind="$index+1+index"></td>
              <td ng-bind="resource.code"></td>
              <td ng-bind="resource.name"></td>
              <td ng-bind="resource.price"></td>
              <td ng-bind="resource.unit"></td>
              <td width="92px">
               <a class="btn btn-danger pull-right" ng-click="deleteResource($index)"><i class="fa fa-trash"></i></a>
               <a class="btn btn-default pull-right" ng-click="editResource($index)"><i class="fa fa-pencil"></i></a>
             </td>
           </tr>
         </tbody>
         <tbody ng-if="resources.length === 0">
          <tr>
            <td class="text-center text-no-data" colspan="6">Không có dữ liệu</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
    <ng-include src="'Views/Shared/pagination.html'" scope="pages,currentPage,limit"></ng-include>
  </div>
  <!-- /.box -->
</div>
</div>

</section>